:root{
    --black-01: #2a2a2a;
    --black-02: #2a2a2ae6;
    --black-03: #444;
    --black-04: #3a3a3a;
    --white-01: #ddd;
    --white-02: #f8ecca;
    --white-03: #fff;
    --white-04: #ffffff4d;
    --gray: #888;
}