
.drawing{
    position: absolute;
}

.drawing--star::before,
.drawing--star::after,
.drawing--cloud::before,
.drawing--cloud::after{
    content: '';
    position: absolute;
}

/* --------- --------- */

.drawing--star,
.drawing--star::before,
.drawing--star::after{
    width: 0;
    height: 0;
}

.drawing--star{
    border-bottom: 1rem solid var(--white-02);
    border-left: .3rem solid transparent;
    border-right: .3rem solid transparent;

    transform: translate(-50%, -100%);
}

.drawing--star::before,
.drawing--star::after{
    top: .7rem;
    left: -1rem;

    border-bottom: .6rem solid var(--white-02);
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
}

.drawing--star::before{
    transform: rotate(-35deg);
}

.drawing--star::after{
    transform: rotate(35deg);
}

/* --------- --------- */

.drawing--cloud,
.drawing--cloud::before,
.drawing--cloud::after{
    background-color: var(--gray);
    border-radius: 2rem;
}

.drawing--cloud{
    width: 8rem;
    height: 3rem;

    transform: translate(-50%, -25%);
}

.drawing--cloud::before{
    width: 3rem;
    height: 3rem;

    top: -1rem;
    left: .5rem;
}

.drawing--cloud::after{
    width: 5rem;
    height: 4rem;

    top: -2rem;
    right: .5rem;
}

/* --------- --------- */

.drawing--full-moon,
.drawing--new-moon,
.drawing--waning-crescent-moon{
    width: 9rem;
    height: 9rem;

    border-radius: 50%;
}

.drawing--full-moon,
.drawing--new-moon{
    box-shadow: 0 0 1rem .1rem var(--white-03);

    transform: translate(-50%, -50%);
}

.drawing--full-moon{
    background-color: var(--white-03);
}

.drawing--new-moon{
    background-color: var(--white-04);
}

.drawing--waning-crescent-moon{
    background-color: transparent;
    box-shadow: inset 1rem 0 0 .5rem var(--white-03),
        -1.5rem 0 1rem .1rem var(--white-03);

    transform: translate(-25%, -50%);
}